body{
    background-color: antiquewhite;
    margin: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.brand img{
    width: 44px;
    margin-right: 8px;
}

.container{
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    background: black;
    color: white;
}

.songItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    margin: 10px 0;
    padding: 8px;
    border-radius: 30px;
}

.songItem img{
    width: 40px;
    border-radius: 50%;
}

.timestamp i{
    cursor: pointer;
}

.bottom{
    position: sticky;
    bottom: 0;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#myProgressBar{
    width: 80%;
}

.songInfo img{
    opacity: 0;
    transition: 0.3s;
}